{% extends "base.html" %}

{% block content %}
{% load static %}

<script>
    var updateRating = function (recipe_id) {
        $.ajax({
            url: "/get_rating",
            data: { id: recipe_id},
            dataType: "json"
        }).done(function(msg){
            $("#input-rating-"+recipe_id).rating('update', parseFloat(msg.rating));
        });
    };
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{% if ingredients %}
    <h3>
        Используемые ингредиенты:
        {% for ing in ingredients %}
            <span class="label label-warning">{{ing}}</span>
        {% endfor %}
    </h3>
{% endif %}
{% if equipments %}
    <h3>
        {% if eia %}
            Используемые
        {% else %}
            Не используемые
        {% endif %}
        инструменты:
        {% for eq in equipments %}
            <span class="label label-warning">{{eq}}</span>
        {% endfor %}
    </h3>
{% endif %}
{% if tag %}
    <h3>
        Категория: <span class="label label-warning">{{tag.tag_name}}</span>
    </h3>
{% endif %}
{% if most_commented %}
    <h3>
        Самые комментируемые
    </h3>
{% endif %}
<br>

{% for recipe in recipes %}

    <div class="panel panel-success">
      <div class="panel-heading">
          <div class="row">
              <div class="col-xs-6 text-left">
                   <h4>
                       <a href="{% url 'recipe' recipe.id %}">{{recipe.recipe_name}}</a>
                   </h4>
              </div>
              <div class="col-xs-6 text-right">
                  <input id="input-rating-{{recipe.id}}" >
              </div>
          </div>
          <script>
            $("#input-rating-{{recipe.id}}").rating({
                size: 'xs',
                showClear: false,
                showCaption: false,
                min: 0,
                max: 5,
                step:1,
                emptyStar: '<i class="glyphicon glyphicon-apple"></i>',
                filledStar: '<i class="glyphicon glyphicon-apple"></i>',
                {% if not username.username %}
                    disabled: true,
                {% endif %}
            });
            $("#input-rating-{{recipe.id}}").on('rating.change', function (event, value) {
                var recipe_id = {{recipe.id}};
                $.ajax({
                    url: "/add_rating",
                    data: { id: recipe_id, val: value},
                    dataType: "json"
                }).done(function(msg){
                    updateRating(recipe_id);
                });
            });
            updateRating({{recipe.id}});
          </script>
      </div>
      <div class="panel-body">
          <div id="link{{recipe.id}}"></div>
          <script>
              (function () {
                  var id = "#link{{recipe.id}}";
                  var reg = /(\S+)watch\?v=(\w+)/;
                  var link = "{{recipe.recipe_link}}";
                  if(reg.test(link)){
                      $(id).append('<iframe src="'+link.replace(reg, "https://www.youtube.com/embed/$2")+'" class="embed-responsive-item" frameborder="0" allowfullscreen width="672" height="378"></iframe>')
                  } else {
                      $(id).append('<a href="'+link+'" class="thumbnail" data-toggle="tooltip" data-placement="bottom" title="Внешняя ссылка"><img src="{% static "img/Insert-hyperlink-icon.png" %}" alt="Link"></a>');
                      $(id).attr('style', 'max-width: 200px');
                  }
              })();
          </script>
      </div>
      <div class="panel-footer">
          Теги:
          {% for tag in recipe.tag_set.all %}
            <a href="{% url 'tag' tag.id %}"> <span class="label label-success">{{tag.tag_name }}</span></a>
          {% endfor %}
      </div>
    </div>

    {% empty %}
        <h2 style="text-align: center;">Рецептов не нашлось 😟</h2>
{% endfor %}

{% endblock %}